ul.hr {
    margin: 0; 
    padding: 10px; 
  }
  ul.hr li {
    display: inline; 
    margin-right: 0px; 
    margin-left: 150px;
    padding: 15px;
  }
  a {
    text-decoration: none;
    font-family: Playfair Display;
    cursor: pointer; 
    
  }
  a.first {
      color: #03a9f4;
     
  }
  a.head {
      color:#626262;
     
  }
  ul.image1 {
    margin: 0; 
    padding: 10px; 
  }
  ul.image1 li {
    display: inline;
    margin-right: 0px; 
    margin-left: 60px;
    padding: 15px;
  }
  
  .morelife  { 
    display: inline-block;
    padding: 15px;
    width: 420px;
    margin-right: 80px;
    margin-left: 60px;
    
 }
 .morelife2 {
  display: inline-block;
  padding: 5px;
  width: 420px;
 }
 h2 {
     color: #b4ad9e;
     font-family: Ubuntu; 
     font-size: 15px;

 }
 h3 {
     color: #626262;
     font-size: 30px;
     font-family: Playfair Display;
 }
 p {
     color: #626262;
     text-align: justify;  
     font-family: Playfair Display;
 }